In [1]:
import pandas as pd
links = pd.read_csv("NguyenLinks.csv")
routes = pd.read_csv("NguyenRoutes.csv")
flows = pd.read_csv("NguyenAssignment.csv")

In [3]:
links["flow"] = flows["matrix_ab"]

In [4]:
links.latency = links['free flow speed'] * (1 + (links['alpha'] * ((links['flow']/links['capacity']) ** links['beta'])))

In [7]:
links

,No,start node,end node,free flow speed,capacity,alpha,beta,latency,flow
0,1,1,12,7,300,0.15,4,7.000000,6.000000
1,2,1,5,9,200,0.15,4,9.000002,7.000000
2,3,4,5,9,200,0.15,4,9.000004,8.450305
3,4,4,9,12,200,0.15,4,12.000006,8.549695
4,5,5,9,3,350,0.15,4,3.000002,15.450305
5,6,5,6,9,400,0.15,4,9.000000,0.000000
6,7,9,10,5,500,0.15,4,5.000000,8.000000
7,8,9,13,13,250,0.15,4,13.000033,16.000000
8,9,6,7,2,250,0.15,4,2.000000,0.000000
9,10,12,8,9,300,0.15,4,9.000000,6.000000
10,11,10,11,9,500,0.15,4,9.000000,8.000000
11,12,13,3,10,550,0.15,4,10.000001,16.000000
12,13,12,6,9,200,0.15,4,9.000000,0.000000
13,14,6,10,6,400,0.15,4,6.000000,0.000000
14,15,7,11,9,300,0.15,4,9.000000,0.000000
15,16,7,8,8,300,0.15,4,8.000000,0.000000
16,17,11,2,7,200,0.15,4,7.000003,8.000000
17,18,11,3,14,300,0.15,4,14.000000,0.000000
18,19,8,2,11,200,0.15,4,11.000001,6.000000

In [5]:
# Function to calculate travel time for a route
def calculate_travel_time(route):
    link_nos = [int(link) for link in route.split(',')]
    travel_times = links[links['No'].isin(link_nos)]['latency']
    return travel_times.sum()

# Apply the function to calculate travel time for each route
routes['Travel Time'] = routes['Links sequence'].apply(calculate_travel_time)

In [6]:
routes

   OD pair  Route no Links sequence  Travel Time
0    (1,2)         1        1,10,19    27.000002
1    (1,2)         2    2,6,9,16,19    39.000003
2    (1,2)         3    2,6,9,15,17    36.000005
3    (1,2)         4   2,6,14,11,17    40.000005
4    (1,2)         5    2,5,7,11,17    33.000007
5    (1,2)         6   1,13,9,16,19    37.000002
6    (1,2)         7   1,13,9,15,17    34.000003
7    (1,2)         8  1,13,14,11,17    38.000003
8    (1,3)         9       2,5,8,12    35.000038
9    (1,3)        10    2,6,9,15,18    43.000002
10   (1,3)        11   2,6,14,11,18    47.000002
11   (1,3)        12    2,5,7,11,18    40.000004
12   (1,3)        13   1,13,9,15,18    41.000000
13   (1,3)        14  1,13,14,11,18    45.000000
14   (4,2)        15      4,7,11,17    33.000009
15   (4,2)        16   3,6,14,11,17    40.000007
16   (4,2)        17    3,6,9,16,19    39.000006
17   (4,2)        18    3,6,9,15,17    36.000007
18   (4,2)        19    3,5,7,11,17    33.000009
19   (4,3)        20         4,8,12    35.000040
20   (4,3)        21      4,7,11,18    40.000006
21   (4,3)        22       3,5,8,12    35.000040
22   (4,3)        23    3,6,9,15,18    43.000004
23   (4,3)        24   3,6,14,11,18    47.000004
24   (4,3)        25    3,5,7,11,18    40.000006